@{
    ViewBag.Title = "Home Page";
}

@Html.Action("StudentManager", "Home")
<div class="modal modal-wide fade" id="myModal4" role="dialog">
    <div class="modal-dialog">
        @Html.Action("NewStudent", "Home")
    </div>
</div>